[user]
	email = diegogoulart.aws@gmail.com
	name = Diego Goulart
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1/node /tmp/vscode-remote-containers-5e038c5fde3f2bfa7b681ffe1917869e751fb10c.js $*; }; f"
